<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4cPX9ciGsiTEafiVeFXlRduKd3W_TJYI</string>
	<key>GCM_SENDER_ID</key>
	<string>213818068799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tailorSize.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tailor-s</string>
	<key>STORAGE_BUCKET</key>
	<string>tailor-s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213818068799:ios:79155322378b5e22d34d8a</string>
</dict>
</plist>